<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark"> -->
<!-- <a class="navbar-brand text-success border border-success rounded p-1" routerLink="">NACBAR</a> -->
<!-- <button class="navbar-toggler border border-success" type="button" data-toggle="collapse" -->
<!-- data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" -->
<!-- aria-label="Toggle navigation"> -->
<!-- <span class="navbar-toggler-icon"></span> -->
<!-- </button> -->
<!--  -->
<!-- <div class="collapse navbar-collapse" id="collapsibleNavId"> -->
<!-- <ul class="navbar-nav mr-auto mt-2 mt-lg-0"> -->
<!-- <li class="nav-item"> -->
<!-- <a class="nav-link text-success" routerLink="">Create Account</a> -->
<!-- </li> -->
<!-- </ul> -->
<!-- </div> -->
<!-- </nav> -->
<div class="container">
  <h3 class="text-primary">Associar Clientes</h3>
  <div class="row">
    <div class="col-sm-6 col-xl-4">
      <label for="cmbGerente">Gerente</label>
      <select class="custom-select" name="cmbGerente" (change)="atualizarListaCliente()">
        <option selected>Gerente Agente</option>
        <option value="1">MH AAI</option>
        <option value="2">VGV AAI</option>
        <option value="3">CONSTANCIA AAI</option>
      </select>
    </div>
    <div class="col-sm-6 col-xl-4">
      <label for="cmbAgente">Agente</label>
      <select class="custom-select" name="cmbAgente" (change)="atualizarListaCliente()">
        <option selected>Agente</option>
        <option value="MH">AGENTE MH 1</option>
        <option value="MH">AGENTE MH 1</option>
        <option value="MH">AGENTE MH 3</option>
        <option value="VGV">AGENTE VGV 1</option>
        <option value="VGV">AGENTE VGV 2</option>
        <option value="CONSTANCIA">AGENTE CONSTANCIA 1</option>
        <option value="CONSTANCIA">AGENTE CONSTANCIA 2</option>
        <option value="CONSTANCIA">AGENTE CONSTANCIA 3</option>
        <option value="CONSTANCIA">AGENTE CONSTANCIA 4</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-6 col-sm-6 col-xl-2">
      <p>Desassociados</p>
      <bs-sortable [(ngModel)]="listaClienteDesassociadoModel" fieldName="Nome" itemClass="sortable-item"
        itemActiveClass="sortable-item-active" placeholderItem="Drag here" placeholderClass="placeholderStyle"
        wrapperClass="sortable-wrapper"></bs-sortable>
    </div>
    <div class="col-6 col-sm-6 col-xl-2">
      <p>Associados</p>
      <bs-sortable [(ngModel)]="listaClienteAssociadoModel" fieldName="Nome" itemClass="sortable-item"
        itemActiveClass="sortable-item-active" placeholderItem="Drag here" placeholderClass="placeholderStyle"
        wrapperClass="sortable-wrapper"></bs-sortable>
    </div>
  </div>
</div>